In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
df = pd.read_csv(r"dataset\manufacturing_dataset.csv")

In [4]:
df.head(5)

,time_stamp,machine_ID,operation_mode,temperature,vibration,power_consumption,network_latency,packet_loss,defect_rate,speed,pm_score,error_rate,efficiency_status
0,1/1/2024 0:00,39,Idle,74.137590,3.500595,8.612162,10.650542,0.207764,7.751261,477.657391,0.344650,14.965470,Low
1,1/1/2024 0:01,29,Active,84.264558,3.355928,2.268559,29.111810,2.228464,4.989172,398.174747,0.769848,7.678270,Low
2,1/1/2024 0:02,15,Active,44.280102,2.079766,6.144105,18.357292,1.639416,0.456816,108.074959,0.987086,8.198391,Low
3,1/1/2024 0:03,43,Active,40.568502,0.298238,4.067825,29.153629,1.161021,4.582974,329.579410,0.983390,2.740847,Medium
4,1/1/2024 0:04,8,Idle,75.063817,0.345810,6.225737,34.029191,4.796520,2.287716,159.113525,0.573117,12.100686,Low

In [8]:
df['machine_ID'].unique()

array([39, 29, 15, 43,  8, 21, 19, 23, 11, 24, 36, 40,  3, 22,  2, 44, 30,
       38, 33, 12, 25, 49, 27, 42, 28, 16, 47, 37,  7,  9, 18,  4, 14, 50,
       26, 20, 35, 17,  6, 34, 10, 31, 48, 45, 41,  1,  5, 13, 32, 46])

In [7]:
op_mode = df[['time_stamp','operation_mode']].value_counts().reset_index()
op_mode

          time_stamp operation_mode  count
0      3/9/2024 9:43         Active      1
1      3/9/2024 9:42           Idle      1
2      3/9/2024 9:41         Active      1
3      3/9/2024 9:40         Active      1
4      3/9/2024 9:39         Active      1
...              ...            ...    ...
99995  1/1/2024 0:04           Idle      1
99996  1/1/2024 0:03         Active      1
99997  1/1/2024 0:02         Active      1
99998  1/1/2024 0:01         Active      1
99999  1/1/2024 0:00           Idle      1

[100000 rows x 3 columns]