# Exploratory Data Analysis <hr style='border:2.5px solid #126782'></hr>

In [105]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [106]:
df = pd.read_csv(r'dataset\manufacturing_dataset.csv')
df.head()

,time_stamp,machine_ID,operation_mode,temperature,vibration,power_consumption,network_latency,packet_loss,defect_rate,speed,pm_score,error_rate,efficiency_status
0,1/1/2024 0:00,39,Idle,74.137590,3.500595,8.612162,10.650542,0.207764,7.751261,477.657391,0.344650,14.965470,Low
1,1/1/2024 0:01,29,Active,84.264558,3.355928,2.268559,29.111810,2.228464,4.989172,398.174747,0.769848,7.678270,Low
2,1/1/2024 0:02,15,Active,44.280102,2.079766,6.144105,18.357292,1.639416,0.456816,108.074959,0.987086,8.198391,Low
3,1/1/2024 0:03,43,Active,40.568502,0.298238,4.067825,29.153629,1.161021,4.582974,329.579410,0.983390,2.740847,Medium
4,1/1/2024 0:04,8,Idle,75.063817,0.345810,6.225737,34.029191,4.796520,2.287716,159.113525,0.573117,12.100686,Low

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   time_stamp         100000 non-null  object
 1   machine_ID         100000 non-null  int64
 2   operation_mode     100000 non-null  object
 3   temperature        100000 non-null  float64
 4   vibration          100000 non-null  float64
 5   power_consumption  100000 non-null  float64
 6   network_latency    100000 non-null  float64
 7   packet_loss        100000 non-null  float64
 8   defect_rate        100000 non-null  float64
 9   speed              100000 non-null  float64
 10  pm_score           100000 non-null  float64
 11  error_rate         100000 non-null  float64
 12  efficiency_status  100000 non-null  object
dtypes: float64(9), int64(1), object(3)
memory usage: 9.9+ MB

In [108]:
df['time_stamp'] = pd.to_datetime(df['time_stamp'])

In [109]:
def custom_quarter(date):
    month = date.month
    year = date.year
    if month in [2,3,4]:
        return pd.Period(year=year,quarter=1,freq='Q')
    elif month in [5,6,7]:
        return pd.Period(year=year,quarter=2,freq='Q')
    elif month in [8,9,10]:
        return pd.Period(year=year,quarter=3,freq='Q')
    else: # month in [11,12,1]
        return pd.Period(year=year if month !=1 else year-1, quarter=4, freq='Q')

In [110]:
df['quarter'] = df['time_stamp'].apply(custom_quarter)
df

,time_stamp,machine_ID,operation_mode,temperature,vibration,power_consumption,network_latency,packet_loss,defect_rate,speed,pm_score,error_rate,efficiency_status,quarter
0,2024-01-01 00:00:00,39,Idle,74.137590,3.500595,8.612162,10.650542,0.207764,7.751261,477.657391,0.344650,14.965470,Low,2023Q4
1,2024-01-01 00:01:00,29,Active,84.264558,3.355928,2.268559,29.111810,2.228464,4.989172,398.174747,0.769848,7.678270,Low,2023Q4
2,2024-01-01 00:02:00,15,Active,44.280102,2.079766,6.144105,18.357292,1.639416,0.456816,108.074959,0.987086,8.198391,Low,2023Q4
3,2024-01-01 00:03:00,43,Active,40.568502,0.298238,4.067825,29.153629,1.161021,4.582974,329.579410,0.983390,2.740847,Medium,2023Q4
4,2024-01-01 00:04:00,8,Idle,75.063817,0.345810,6.225737,34.029191,4.796520,2.287716,159.113525,0.573117,12.100686,Low,2023Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2024-03-10 10:35:00,3,Idle,71.143556,1.861171,2.897206,11.967279,4.670305,2.823803,282.822791,0.133871,12.631304,Low,2024Q1
99996,2024-03-10 10:36:00,23,Idle,77.256970,0.377495,5.037060,39.687650,3.996942,6.065958,466.696532,0.775575,2.292894,Medium,2024Q1
99997,2024-03-10 10:37:00,10,Active,52.800333,2.629977,3.900503,26.721615,4.821022,5.090971,324.277200,0.151740,6.315872,Low,2024Q1
99998,2024-03-10 10:38:00,47,Active,79.967251,2.283934,7.156484,9.534678,0.481175,8.333964,65.965864,0.989501,4.802397,Low,2024Q1
99999,2024-03-10 10:39:00,32,Active,34.318703,0.150259,4.190471,28.259061,4.155778,3.680996,231.469437,0.290107,14.693927,Low,2024Q1

In [111]:
df_agg = df.groupby('quarter').agg({
    'power_consumption':'sum',
    'speed':'mean',
    'error_rate':'mean'
})
df_agg

         power_consumption       speed  error_rate
quarter
2023Q4       256165.301289  275.428207    7.523640
2024Q1       318427.614011  276.309922    7.488344

In [100]:
df_agg

          temperature
custom_Q
2023Q4      59.992563
2024Q1      60.080886

In [84]:
df['date'] = pd.to_datetime(df['time_stamp']).dt.date
op_mode = df.groupby('date')['operation_mode'].value_counts().reset_index()
op_mode

           date operation_mode  count
0    2024-01-01         Active   1000
1    2024-01-01           Idle    305
2    2024-01-01    Maintenance    135
3    2024-01-02         Active   1031
4    2024-01-02           Idle    291
..          ...            ...    ...
205  2024-03-09           Idle    283
206  2024-03-09    Maintenance    155
207  2024-03-10         Active    470
208  2024-03-10           Idle    111
209  2024-03-10    Maintenance     59

[210 rows x 3 columns]